<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.MenuDao">

    <resultMap type="Menu" id="MenuResaultMap">
        <id property="menuId" column="menuId"/>
        <result property="menuName" column="menuName"/>
        <result property="menuCode" column="menuCode"/>
        <result property="menuIcon" column="menuIcon"/>
        <result property="menuUrl" column="menuUrl"/>
        <result property="menuLevel" column="menuLevel"/>
        <result property="menuParentId" column="menuParentId"/>

        <collection property="menus" ofType="Menu">
            <id property="menuId" column="child_id"/>
            <result property="menuName" column="child_name"/>
            <result property="menuCode" column="child_code"/>
            <result property="menuIcon" column="child_icon"/>
            <result property="menuUrl" column="child_url"/>
            <result property="menuLevel" column="child_level"/>
            <result property="menuParentId" column="child_parentid"/>
        </collection>
    </resultMap>
    <!--<insert id="insertManager">-->
    <!--insert into t_manager values(#{managerId},#{managername},#{password})-->
    <!--</insert>-->
    <select id="selectMenu" resultMap="MenuResaultMap" >
        select m1.*,m2.menuId as child_id,m2.menuName as child_name,m2.menuCode as child_code,m2.menuIcon as child_icon,
        m2.menuUrl as child_url,m2.menuLevel as child_level,m2.menuParentId as child_parentid
        FROM t_menu m1 LEFT JOIN t_menu m2 ON m1.menuId = m2.menuParentId
        WHERE m1.menuLevel = 1

    </select>
</mapper>